.feature-person-partial-497490 {
    background: linear-gradient(265deg, #8261E4 3.75%, #48367E 94.94%);
    padding: 0 24px;
    position: relative;
    margin-bottom: 100px;
    @media(max-width:768px){
        padding: 3rem 24px;
    }
    .svg-right{
        position: absolute;
        right: 3%;
        top: 0;
        transform: translateY(-10%);
    }
    .image-contain{
        img{
            width: 100%;
            height: auto;
            filter: drop-shadow(0px 0px 75px rgb(73, 30, 201));
        }
    }
    .person-content{
        color: #ffffff;
        display: flex;
        max-width: 608px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding: 10px 0 10px 2rem;
        .person{
            .name{
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 0;
            }
            .role{
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0.1px;
            }
        }
        .title{
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            margin-bottom: 0;
        }
        .description{
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.1px;
            margin-bottom: 0;
        }
        @media(max-width:510px){
            padding: 10px 0;
            gap: 14px;
            .person{
                .name{
                    font-size: 16px;
                }
                .role{
                    font-size: 13px;
                }
            }
            .title{
                font-size: 20px;
            }
            .description{
                font-size: 16px;
            }
        }
    }
}