.benefits-left-image-and-text-right-partial-7219e8 {
    background: #ffffff;
    padding-top: 70px;
    padding-bottom: 90px;
    .image-contain{
        position: relative;
        img{
            width: 359px;
            max-width: 100%;
            height: 448px;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
        }
        .overly{
            position: absolute;
            bottom: -1.5rem;
            left: -1rem;
            width: 100%;
            max-width: 320px;
            height: auto;
            padding: 32px;
            border: 1px solid rgba(201, 196, 215, 0.1);
            background: rgba(253, 248, 255, 0.6);
            backdrop-filter: blur(20px);
            p{
                margin: 0;
            }
            .label{
                font-weight: 900;
                font-style: Italic;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -1.5px;
                color: #5B3FD7;
            }
            .description{
                color: #484554;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0px;
            }
        }
    }
    // Right text
    .texts{
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media(max-width: 768px) {
            gap: 12px;
        }
        .overly{
            font-size: 40px;
            line-height: 48px;
            color: rgba(90, 62, 214, 0.2);
            font-weight: 700;
        }
        .info{
            font-weight: 300;
            font-size: 28px;
            line-height: 150%;
            letter-spacing: 0.1px;
            color: #484554;
            @media(max-width:768px){
                font-size: 18px;
            }
        }
        .call-to-action{
            font-weight: 700;
            font-size: 17px;
            line-height: 16px;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            text-decoration: none;
            color: #7E66FC;
            @media(max-width:768px){
                font-size: 16px;
            }
        }
    }
}