.single-blog-content-table-partial-b93a11 {
    border-radius:12px;
    border: 1px solid rgba(199, 196, 216, 0.3);
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 32px;
    .toc-title{
        font-weight: 700;
        font-size: 24px;
        line-height: 33.6px;
        letter-spacing: -0.6px;
        vertical-align: middle;
        color: #0B1C30;
        margin-bottom: 24px;
    }
    .toc-list{
        padding-left: 14px;
        margin: 0;
        list-style: decimal;
        display: flex;
        flex-direction: column;
        gap: 16px;
        li{
            &::marker{
                color: #7E66FC;
                font-size: 16px;
                line-height: 25.6px;
                font-weight: 800;
            }
            a{
                font-weight: 400;
                font-size: 16px;
                line-height: 25.6px;
                letter-spacing: 0px;
                vertical-align: middle;
                color: #464555;
                text-decoration: none;
            }
        }
    }
}
